* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 110;
  height: 140px;
}

.navbar__logo {
  flex-basis: 82%;
  color: #9bc651;
  font-size: 40px;
  margin-left: 300px;
}

.navbar__search-field {
  flex-basis: 9%;
  padding: 10px 0 0 38px;
}

.navbar__menu {
  flex-basis: 9%;
  margin-right: 32px;
  padding-top: 10px;
}

.header-content {
  position: absolute;
  top: 458px;
  width: 480px;
  margin-left: 12px;
  color: #dce1e3;
}

.heading {
  font-size: 35px;
}

.heading--header {
  margin-bottom: 21px;
}

.header-content__text {
  margin-left: 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
}

.iphone-img {
  position: absolute;
  right: 287px;
  top: 305px;
}

.about {
  background-color: #fff;
  min-height: 540px;
  padding: 104px 0 51px 0;
}

.heading--about {
  font-weight: lighter;
  margin: 0 0 25px 12px;
}

.about__text {
  color: #959595;
  margin: 0 12px 25px 12px;
  font-size: 14px;
  line-height: 24px;
}

.about_text--top {
  width: 50%;
  padding-right: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.about__column {
  flex-basis: 50%;
}

.services {
  min-height: 655px;
}

.services-content {
  margin-left: 15px;
}

.services__box {
  color: #fff;
  padding-left: 39px;
  padding-top: 12px;
  border: none;
  min-height: 278px;
}

.services-box__large {
  flex-basis: 67%;
  color: #fff;
}

.services-box__large--grey {
  background-color: #43463e;
  padding-top: 65px;
}

.services-box__large--navy {
  background-color: #091e28;
  padding-top: 42px;
}

.services-box__small {
  flex-basis: 33%;
  color: #fff;
}

.services-box__small--green {
  background-color: #37461d;
  padding-top: 65px;
}

.services-box__small--lightgreen {
  background-color: #73933c;
  padding-top: 42px;
}

.heading--services {
  font-weight: lighter;
  margin-bottom: 18px;
  font-size: 30px;
}

.services__text {
  max-width: 300px;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 34px;
  padding-right: 10px;
}

.services__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
}

.services__link:hover {
  border-bottom: 1px solid #fff;
}

.services__link:focus {
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 1779px)  {
  .navbar__logo {
  margin-left: 220px;
}
.navbar__search-field {
  padding: 10px 20px 0 38px;
}

@media only screen and (max-width:1599px) {
  .iphone-img {
    right: 180px;
}
}

@media only screen and (max-width:1400px) {
  .iphone-img {
    right: 80px;
}
}

@media only screen and (max-width:1300px) {
  .container {
    padding: 0 50px;
  }
}

@media only screen and (width: 1280px) and (height: 800px) {
  .iphone-img {
    top: 165px;
}

}

@media only screen and (max-width: 1199px)  {

  .header {
    min-height: 1px;
    height: 768px;
  }

  .navbar__logo {
  margin-left: 200px;
}

  .header-content {
    top: 290px;
}

.iphone-img {
    right: 50px;
    width: 550px;
    top: 260px;
}

@media only screen and (max-width: 899px)  {
  .navbar__logo {
  margin-left: 180px;
}

.navbar {
  height: 130px;
}

.iphone-img {
    right: 20px;
    width: 450px;
    top: 375px;
}

.about_text--top {
  width: 100%;
  padding-right: 0px;
}

.services__box {
    padding-left: 20px;
}

}

@media only screen and (max-width: 751px)  {

  .header {
    height: 620px;
  }

  .row {
    flex-direction: column;
  }

  .navbar__search-field, .navbar__menu {
    display: none;
    flex-basis: 0;
  }

  .navbar__logo {
    margin-left: 0;
    flex-basis: 100%;
  }

  .header-content {
    top: 205px;
    margin-left: 0;
}

.heading {
  font-size: 40px;
}

.about {
    padding: 94px 0 51px 0;
}

.heading--about {
    margin: 0 0 40px 0;
}

.heading--header {
  margin-bottom: 17px;
}

.header-content__text {
    width: 335px;
    margin-left: 2px;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
}

  .about_text--top {
    width: 100%;
  }

  .about__text {
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 25px 0;
  }

  .iphone-img {
    right: 40px;
    width: 378px;
    top: 305px;
}

.services {
  padding-bottom: 80px;
}

  .services__box {
    padding-left: 32px;
}

.services-content {
     margin-left: 0;
}

.heading--services {
  font-weight: normal;
    font-size: 32px;
}

.services__text {
    max-width: 100%;
    font-size: 16px;
}

.services__link {
    font-size: 16px;
}

}

@media only screen and (max-width: 699px) {
  .iphone-img {
    right: 20px;
}
}

@media only screen and (max-width: 599px) {

  .container {
      padding: 0px 20px;
  }

  .navbar {
      height: 100px;
  }

  .navbar__logo {
      font-size: 32px;
  }

  .header-content {
    position: relative;
    margin-left: 0;
    width: 100%;
}
.header-content__text {
    width: 100%;
}

.about_text--top {
    width: 100%;
}

.iphone-img {
  display: none;
}

.services__box {
    padding-bottom: 32px;
}


}
