* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* Header ------------------------------------------------------------------- */

.header {
  position: relative;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height: 100vh;
}

/* Side Menu ----------------------------- */

.navbar__fadeIn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 140px;
  right: 0;
  height: 100vh;
  width: 250px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  z-index: 1500;
}

.navbar__fadeIn-menu--visible {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.navbar__fadeIn-menu ul {
  padding: 0;
  list-style-type: none;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.navbar__fadeIn-menu li {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.navbar__fadeIn-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  color: #758160;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar__fadeIn-menu a:hover {
  color: #000;
}

/* Main navbar ----------------------------- */

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 110;
  height: 140px;
  -webkit-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms;
}

.navbar__logo {
  -ms-flex-preferred-size: 82%;
  flex-basis: 82%;
  color: #9bc651;
  font-size: 40px;
  margin-left: 300px;
}

.navbar__search-field {
  -ms-flex-preferred-size: 9%;
  flex-basis: 9%;
  padding: 10px 0 0 38px;
  cursor: pointer;
}

.navbar__menu {
  -ms-flex-preferred-size: 9%;
  flex-basis: 9%;
  margin-right: 32px;
  padding-top: 10px;
}

.menu-trigger {
  cursor: pointer;
}

/* Header Content ------------------------ */

.header-content {
  position: absolute;
  top: 458px;
  width: 480px;
  margin-left: 12px;
  color: #dce1e3;
}

.heading {
  font-size: 35px;
}

.heading--header {
  margin-bottom: 21px;
}

.header-content__text {
  margin-left: 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
}

.iphone-img {
  position: absolute;
  right: 287px;
  top: 305px;
}

/* About sectiob ------------------------------------------------------------ */

.about {
  background-color: #fff;
  min-height: 540px;
  padding: 104px 0 51px 0;
}

.heading--about {
  font-weight: lighter;
  margin: 0 0 25px 12px;
}

.about__text {
  color: #959595;
  margin: 0 12px 25px 12px;
  font-size: 14px;
  line-height: 24px;
}

.about_text--top {
  width: 50%;
  padding-right: 20px;
}

.about__column {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

/* Services section --------------------------------------------------------- */

.services {
  min-height: 655px;
}

.services-content {
  margin-left: 12px;
}

.services__box {
  color: #fff;
  padding-left: 39px;
  padding-top: 12px;
  border: none;
  min-height: 278px;
}

.services-box__large {
  -ms-flex-preferred-size: 67%;
  flex-basis: 67%;
  color: #fff;
}

.services-box__large--grey {
  background-color: #43463e;
  padding-top: 65px;
}

.services-box__large--navy {
  background-color: #091e28;
  padding-top: 42px;
}

.services-box__small {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  color: #fff;
}

.services-box__small--green {
  background-color: #37461d;
  padding-top: 65px;
}

.services-box__small--lightgreen {
  background-color: #73933c;
  padding-top: 42px;
}

.heading--services {
  font-weight: lighter;
  margin-bottom: 18px;
  font-size: 30px;
}

.services__text {
  max-width: 300px;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 34px;
  padding-right: 10px;
}

.services__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
}

.services__link:hover {
  border-bottom: 1px solid #fff;
}

.services__link:focus {
  border-bottom: 1px solid #fff;
}

/* -----------   Animate Classes   -----------------------------------------*/

.animated_3s {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated_2s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* ----------------   RESPOSIVE Media Queries   ---------------------------  */

@media only screen and (max-width: 1779px) {
  .navbar__logo {
    margin-left: 220px;
  }
  .navbar__search-field {
    padding: 10px 20px 0 38px;
  }
}

@media only screen and (max-width:1599px) {
  .iphone-img {
    right: 180px;
  }
}

@media only screen and (max-width:1400px) {
  .iphone-img {
    right: 80px;
  }
}

@media only screen and (max-width:1300px) {
  .container {
    padding: 0 50px;
  }
}

@media only screen and (width: 1280px) and (height: 800px) {
  .iphone-img {
    top: 165px;
  }
}

@media only screen and (max-width: 1199px) {
  .header {
    min-height: 1px;
    height: 768px;
  }
  .navbar__logo {
    margin-left: 200px;
  }
  .header-content {
    top: 290px;
  }
  .iphone-img {
    right: 50px;
    width: 550px;
    top: 260px;
  }
}

@media only screen and (max-width: 899px) {
  .navbar__logo {
    margin-left: 180px;
  }
  .navbar {
    height: 130px;
  }
  .iphone-img {
    right: 20px;
    width: 450px;
    top: 375px;
  }
  .about_text--top {
    width: 100%;
    padding-right: 0px;
  }
  .services__box {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 751px) {
  .header {
    height: 620px;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar__search-field, .navbar__menu {
    display: none;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
  .navbar__logo {
    margin-left: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .header-content {
    top: 205px;
    margin-left: 0;
  }
  .heading {
    font-size: 40px;
  }
  .about {
    padding: 94px 0 51px 0;
  }
  .heading--about {
    margin: 0 0 40px 0;
  }
  .heading--header {
    margin-bottom: 17px;
  }
  .header-content__text {
    width: 335px;
    margin-left: 2px;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
  }
  .about_text--top {
    width: 100%;
  }
  .about__text {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 25px 0;
  }
  .iphone-img {
    right: 40px;
    width: 378px;
    top: 305px;
  }
  .services {
    padding-bottom: 80px;
  }
  .services__box {
    padding-left: 32px;
  }
  .services-content {
    margin-left: 0;
  }
  .heading--services {
    font-weight: normal;
    font-size: 32px;
  }
  .services__text {
    max-width: 100%;
    font-size: 16px;
  }
  .services__link {
    font-size: 16px;
  }
}

@media only screen and (max-width: 699px) {
  .iphone-img {
    right: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .container {
    padding: 0px 20px;
  }
  .navbar {
    height: 100px;
  }
  .navbar__logo {
    font-size: 32px;
  }
  .header-content {
    position: relative;
    margin-left: 0;
    width: 100%;
  }
  .header-content__text {
    width: 100%;
  }
  .about_text--top {
    width: 100%;
  }
  .iphone-img {
    display: none;
  }
  .services__box {
    padding-bottom: 32px;
  }
}
