*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Open Sans', sans-serif;

    overflow-x: hidden;
    overflow-y: scroll;
}

.o-container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.o-row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.o-column
{
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

/* Header ------------------------------------------------------------------- */

header
{
    position: relative;

    min-height: 950px;

    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

/* Main navbar ----------------------------- */

.c-navbar
{
    position: fixed;
    z-index: 110;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 140px;

    -webkit-transition: all 800ms;
         -o-transition: all 800ms;
            transition: all 800ms;
    text-align: center;

    background-color: rgba(255, 255, 255, .7);

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-navbar__logo
{
    font-size: 40px;

    margin-left: 160px;

    color: #9bc651;

    -ms-flex-preferred-size: 82%;
    flex-basis: 82%;
}

.c-navbar__search-icon
{
    position: relative;
    right: 65px;

    margin-top: 10px;

    cursor: pointer;
}

.c-navbar__menu-icon
{
    margin: 10px 0 0 10px;

    cursor: pointer;
}

/* Side Menu ----------------------------- */

.c-navbar__leftside-menu
{
    position: fixed;
    z-index: 1500;
    top: 140px;
    right: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 250px;
    height: 100vh;

    -webkit-transition: all 300ms;
         -o-transition: all 300ms;
            transition: all 300ms;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);

    background: rgba(255, 255, 255, .7);

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.js-leftside-menu--visible
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.c-navbar__leftside-menu ul
{
    margin: 0 10px;
    padding: 0;

    list-style-type: none;
}

.c-navbar__leftside-menu li
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 30px;
    margin-top: 20px;
}

.c-navbar__link
{
    opacity: 0;
}

.c-navbar__leftside-menu a
{
    font-size: 20px;
    font-weight: 600;

    width: 150px;
    height: 100%;
    padding: 10px;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
    text-decoration: none;

    color: #758160;
}

.c-navbar__leftside-menu a:hover
{
    color: #000;
}

/* Header Content ------------------------ */

.c-main-content
{
    position: absolute;
    top: 458px;

    width: 480px;
    margin-left: 12px;

    opacity: 0;
    color: #dce1e3;
}

.c-main-content__headline
{
    font-size: 35px;

    margin-bottom: 21px;
}

.c-main-content__text
{
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;

    margin-left: 2px;
}

.c-iphone-img
{
    position: absolute;
    top: 300px;
    right: 287px;

    opacity: 0;
}

/* About section ------------------------------------------------------------ */

.c-about
{
    min-height: 540px;
    padding: 104px 0 51px 0;

    background-color: #fff;
}

.c-about__headline
{
    font-size: 35px;
    font-weight: lighter;

    margin: 0 0 25px 12px;
}

.c-about_text--top
{
    width: 50%;
    padding-right: 20px;
}

.c-about__text
{
    font-size: 14px;
    line-height: 24px;

    margin: 0 12px 25px 12px;

    color: #959595;
}

/* Services section --------------------------------------------------------- */

.c-services
{
    min-height: 655px;
}

.o-row--left-margin
{
    margin-left: 12px;
}

.c-services__box
{
    min-height: 278px;
    padding-top: 65px;
    padding-left: 39px;

    -webkit-transition: 700ms;
         -o-transition: 700ms;
            transition: 400ms;

    color: #fff;
    border: none;
    background-color: #43463e;

    -ms-flex-preferred-size: 67%;
    flex-basis: 67%;
}

.c-services__box:hover
{
    opacity: .5;
    background-color: #000;
}

.c-services__box--small--green
{
    background-color: #37461d;

    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
}

.c-services__box--navy
{
    padding-top: 42px;

    background-color: #091e28;
}

.c-services__box--small--lightgreen
{
    padding-top: 42px;

    background-color: #73933c;

    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
}

.c-services__headline
{
    font-size: 30px;
    font-weight: lighter;

    margin-bottom: 18px;
}

.c-services__text
{
    font-size: 13px;
    line-height: 22px;

    max-width: 300px;
    margin-bottom: 34px;
    padding-right: 10px;
}

.c-services__link
{
    font-size: 14px;
    font-weight: bolder;

    text-decoration: none;

    color: #fff;
}

.c-services__link:hover
{
    border-bottom: 1px solid #fff;
}

.c-services__link:focus
{
    border-bottom: 1px solid #fff;
}

/* -----------   Animate Classes   -----------------------------------------*/

.animated_2s
{
    -webkit-animation-duration: 2s;
            animation-duration: 2s;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animated_1-5s
{
    -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.fadeInDown
{
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
}

.fadeInRightBig
{
    -webkit-animation-name: fadeInRightBig;
            animation-name: fadeInRightBig;
}

.fadeIn
{
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
}

.fadeInUp
{
    animation-name: fadeInUp;
}

@keyframes fadeInUp
{
    from
    {
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp
{
    from
    {
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

@keyframes fadeInRightBig
{
    from
    {
        -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

@-webkit-keyframes fadeInRightBig
{
    from
    {
        -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

@keyframes fadeInDown
{
    from
    {
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

@-webkit-keyframes fadeInDown
{
    from
    {
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

/* ----------------   RESPOSIVE Media Queries   ---------------------------  */

@media only screen and (max-width:1599px)
{
    .c-navbar__menu-icon
    {
        margin: 10px 50px 0 10px;
    }

    .c-iphone-img
    {
        right: 180px;
    }
}

@media only screen and (max-width:1400px)
{
    .c-navbar__logo
    {
        margin-left: 135px;
    }

    .c-iphone-img
    {
        right: 80px;
    }
}

@media only screen and (max-width:1300px)
{
    .o-container
    {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1199px)
{
    header
    {
        height: 768px;
        min-height: 1px;
    }
    .c-main-content
    {
        top: 290px;
    }
    .c-iphone-img
    {
        top: 260px;
        right: 50px;

        width: 550px;
    }
    .c-services__box
    {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 899px)
{
    .c-navbar
    {
        height: 130px;
    }
    .c-navbar__search-icon
    {
        right: 45px;
    }
    .c-iphone-img
    {
        top: 375px;
        right: 20px;

        width: 450px;
    }
    .c-about_text--top
    {
        width: 100%;
        padding-right: 0;
    }
    .c-navbar__leftside-menu
    {
        top: 130px;
    }
    .c-navbar__logo
    {
        margin-left: 115px;
    }

    .c-services__headline
    {
        font-size: 28px;
    }
}

@media only screen and (max-width: 751px)
{
    header
    {
        height: 620px;
    }
    .o-row
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .c-navbar__search-icon,
    .c-navbar__menu-icon,
    .c-navbar__leftside-menu
    {
        display: none;

        -ms-flex-preferred-size: 0;
        flex-basis: 0;
    }
    .c-navbar__logo
    {
        margin-left: 0;

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .c-main-content
    {
        top: 205px;

        margin-left: 0;
    }
    .c-about
    {
        padding: 94px 0 51px 0;
    }
    .c-about__headline
    {
        font-size: 40px;

        margin: 0 0 40px 0;
    }
    .c-main-content__headline
    {
        font-size: 40px;

        margin-bottom: 17px;
    }
    .c-main-content__text
    {
        font-size: 20px;
        font-weight: normal;
        line-height: 26px;

        width: 390px;
        margin-left: 2px;
    }
    .c-about__text
    {
        font-size: 20px;
        line-height: 28px;

        margin: 0 0 25px 0;
    }
    .c-iphone-img
    {
        top: 300px;
        right: 100px;

        width: 378px;
    }
    .c-services
    {
        padding-bottom: 80px;
    }
    .c-services__box
    {
        padding-top: 50px;
        padding-left: 30px;
    }
    .o-row--left-margin
    {
        margin-left: 0;
    }
    .c-services__headline
    {
        font-size: 32px;
        font-weight: normal;
    }
    .c-services__text
    {
        font-size: 16px;

        max-width: 100%;
    }
    .c-services__link
    {
        font-size: 16px;
    }
}

@media only screen and (max-width: 699px)
{
    .c-iphone-img
    {
        right: 20px;
    }
}

@media only screen and (max-width: 599px)
{
    .o-container
    {
        padding: 0 30px;
    }
    .c-navbar
    {
        height: 100px;
    }
    .c-navbar__logo
    {
        font-size: 32px;
    }
    .c-main-content
    {
        position: relative;

        width: 100%;
        margin-left: 0;
    }
    .c-main-content__text
    {
        width: 100%;
    }
    .c-iphone-img
    {
        display: none;
    }
    .c-services__box
    {
        padding-bottom: 32px;
    }
}
